.RecipeDetail {
    padding: 1em 2em;
}

.RecipeCardLink {
    text-decoration: none;
    color: inherit;
}

.recipe-top-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.back-button {
    position: absolute;
    left: 0;
    background: #f8f8f8;
    font-size: 1.2em;
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.recipe-title {
    text-align: center;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: center;
}

.food-image {
    border-radius: 10px;
}

.nutrition {
    margin-bottom: 20px;
}
